#root {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}
p {
  font-family: 'Open Sans', sans-serif;  
  font-weight: 600px;
}
.App {
  text-align: center;
  font-family: 'Poppins', sans-serif;  
  font-family: 'Open Sans', sans-serif;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.fadeTranslate-enter {
  opacity: 0;
  transform: translate(0, 3vh);
  position: fixed;
}

.fadeTranslate-enter.fadeTranslate-enter-active {
  opacity: 1;
  transform: translate(0, 0);
  transition: opacity 500ms ease-in 500ms, transform 500ms ease-in-out 500ms;
}

.fadeTranslate-exit {
  opacity: 1;
  position: fixed;
  transform: translate(0, 0);
}

.fadeTranslate-exit.fadeTranslate-exit-active {
  opacity: 0;
  transform: translate(0, 3vh);
  transition: opacity 300ms ease-in, transform 300ms ease-in-out;
}

.fix-container {
  position: fixed;
  width: 80%;
  margin: 0 auto;
}
.link-active span:after {
  transform: translate3d(0, 0, 0);
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
