@import "../node_modules/reset-css";

body,
html {
  height: 100%;
  overflow-x: hidden;
}
body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  position: fixed;
}
#root {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background-color: #222;
}
p {
  font-family: "Open Sans", sans-serif;
}
.App {
  text-align: center;
  font-family: "Open Sans", sans-serif;
}

.fadeTranslate-enter {
  opacity: 0;
  transform: translate(0, 3vh);
  position: fixed;
}

.fadeTranslate-enter.fadeTranslate-enter-active {
  opacity: 1;
  transform: translate(0, 0);
  transition: opacity 500ms ease-in 500ms, transform 500ms ease-in-out 500ms;
}

.fadeTranslate-exit {
  opacity: 1;
  position: fixed;
  transform: translate(0, 0);
}

.fadeTranslate-exit.fadeTranslate-exit-active {
  opacity: 0;
  transform: translate(0, 3vh);
  transition: opacity 300ms ease-in, transform 300ms ease-in-out;
}

.fix-container {
  position: fixed;
  width: 80vw;
  margin: 0 auto;
  height: 100vh;
}
.transition-wrapper {
  width: 100%;
  height: 100%;
}
.link-active span:after {
  transform: translate3d(0, 0, 0);
}
.img-responsive {
  max-width: 100%;
  height: auto;
  align-self: center;
}

.transition-wrapper {
  width: 100%;
  height: 100%;
}
